@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h1>The Yorkshire BrassCoin Society</h1>
</div>

<div class="row">
    @foreach (var block in Model.AllBlocks)
    {
        <p>
            BlockIndex: @block.Index
        </p>        
    }
</div>