@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<form method="POST" action="ResetData">
    <input type="submit" value="Reset data">
</form>

<form method="POST" action="MineAndSaveBlock">
    <input type="submit" value="Mine and save block">
</form>