@model IList<BlockChain.Types.Miner>
@{
    ViewData["Title"] = "Coin Owners";
}

<h2>Coin Owners</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Coins Mined</td>
            <td>Balance</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var coinOwner in Model)
        {
        <tr>
            <td>
                @coinOwner.name
            </td>
            <td>
                @coinOwner.coinsMined
            </td>
            <td>
                @coinOwner.balance
            </td>
        </tr>
        }
    </tbody>
</table>
