@model IList<Repository.Dto.MinerDto>
@{
    ViewData["Title"] = "Coin Owners";
}

<h2>Coin Owners</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Coins Mined</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var coinOwner in Model)
        {
        <tr>
            <td>
                @coinOwner.Name
            </td>
            <td>
                @coinOwner.CoinsMined
            </td>
        </tr>
        }
    </tbody>
</table>
