@using System.Collections.Generic
@using Repository.Dto

@model BlockDto
@{
    ViewData["Title"] = "Latest Block";
}

<h2>@ViewData["Title"]</h2>
<p>
    This is the latest block in the blockchain.
</p>

@if (Model == null)
{
    <h1>No blocks in chain</h1>
}
else
{
    @Html.Partial("BlockChainPartialView", new List<BlockDto> { Model });
}

<p>
    <ul class="list">
        <li>Go here to view all the <a asp-area="" asp-controller="Blocks" asp-action="BlockChain">blocks</a> in the blockchain.</li>
        <li>Go here to view all the <a asp-area="" asp-controller="Blocks" asp-action="Transactions">transactions</a> in the blockchain.</li>
    </ul>
</p>

